<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar" showCancelButton="never" showClearButton="always" (ionChange)="search($event.target.value)"></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Notas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-note *ngFor="let note of this.notes" [note]="note"></app-note>
    <ion-item *ngIf="!this.notes || (this.notes && this.notes.length == 0)">Sin elementos</ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  [routerLink]="'/note/'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>